/*full site style*/
body {
	background-color:rgb(0, 0, 0);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(156, 27, 10);
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(255, 48, 48);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size:15pt;
}

li a:hover {
  background-color: rgb(136, 8, 4);
}

h1{
  color:red; 
  text-align: center;
}

p, h2{
	font-family: 'Lato', sans-serif;
  text-align:center;
  font-size:17pt;
  color:rgb(255, 48, 48);

}

h3{
  text-align:right;
  color:red;
  font-size:80px;
}


/*index*/
.btn {
  background-color: rgb(0, 0, 0);
  border-style: solid;
  border-color:red;
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  color: rgb(255, 0, 0);
}

.Xcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: none;
}


/*Frogger*/
img.f2, f1, f3, f4, f5, f6 {
  height: 500px;
  width: 100vw;
}

.Fcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border: none;
}


/*Men*/
img.julian{
  height:300px;
  width:200px;
}

img.tim{
  height:200px;
  width:500px;
}

img.wrench{
  height:400px;
  width:500px;
}

img.pyra{
  height:300px;
  width:600px;
}

.Mcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border: none;
}


/*Jeff*/
.image-container {
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/027/825/781/large/chalaria-liz-jeff-the-kill.jpg?1592664926");
  
  width: 1000px;
  height: 2000px;
}

.Jcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border: none;
}
